::highlight(match) {
  background-color: #ffe500;
  color: #121212;
}

.night_mode ::highlight(match) {
  background-color: #fff068;
  color: #121212;
}

#bsrh-controls {
  margin-left: auto;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

#bsrh-controls > * {
  margin: 0 4px;
}

#bsrh-separator {
  color: #949494;
}

#bsrh-matched {
  width: 3em;
}

.field-container[bsrh-moreincode=true] .plain-text-badge {
  opacity: 1 !important;
}
.field-container[bsrh-moreincode=true] .plain-text-badge button > span {
  outline: 2px dashed #a6a070;
  background: #ffe500;
}

.night_mode .field-container[bsrh-moreincode=true] .plain-text-badge button > span {
  outline: 2px dashed #fff068;
  background: unset;
}


#match-minimap {
  display: flex;
  width: 12px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: 100;
}

.match-position {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #b79800;
}


.night_mode .match-position {
  background-color: #c5b204;
}