::highlight(match) {
  background-color: #fbfb82;
  color: #000;
}

#bsrh-controls {
  margin-left: auto;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

#bsrh-controls > * {
  margin: 0 4px;
}

#bsrh-separator {
  color: #949494;
}

#bsrh-matched {
  width: 3em;
}

.field-container[bsrh-moreincode=true] .plain-text-badge {
    opacity: 1 !important;
}
.field-container[bsrh-moreincode=true] .plain-text-badge button > span {
    outline: 2px dashed #fbfb82;
}